@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/functions";
@import "abstracts/holders";

@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "components/buttons";
@import "components/headings";
@import "components/navbar";
@import "components/pagecorner";
@import "components/styles";
@import "components/slider";
@import "components/scrollbar";

@import "layout/header";
@import "layout/aboutme";
@import "layout/projects";
@import "layout/grid";
@import "layout/footer";










