@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/functions";
@import "abstracts/holders";

@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "components/buttons";
@import "components/headings";
@import "components/navbar";
@import "components/pagecorner";
@import "components/styles";
@import "components/slider";
@import "components/scrollbar";

@import "layout/header";
@import "layout/aboutme";
@import "layout/projects";
@import "layout/grid";
@import "layout/footer";
@import "layout/youtube";

@keyframes loader_dash {
  0% {
    stroke-dasharray: 1, 95;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 85, 95;
    stroke-dashoffset: -25;
  }
  100% {
    stroke-dasharray: 85, 95;
    stroke-dashoffset: -93;
  }
}
@keyframes loader_rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.circle-container {
  width: 48px;
  height: 48px;
  padding: 4px;
  background-color: var(--white);
  border-radius: 50%;
  margin:0 0 9rem 0;
}
.circle-container svg {
  fill: transparent;
  stroke: var(--primary-main-color);
  stroke-width: 5;
  animation: loader_dash 2s ease infinite, loader_rotate 2s linear infinite;
}
