@charset "UTF-8";
:root {
  --white: #fff;
  --main-bg-color: #0c1c27;
  --primary-main-color: #32c7cf;
  --primary-sec-color: #9cc8e5;
  --important-color: #abdbf8;
  --basic-transition: 0.3s ease-in-out;
}

.social-iconss, .email-info {
  position: fixed;
  color: var(--primary-sec-color);
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 1;
}

.social-iconss:after, .email-info:after {
  content: "";
  display: block;
  width: 0.15rem;
  height: 100px;
  background-color: var(--primary-sec-color);
  opacity: 0.3;
  margin-top: 1rem;
}

.about-me-heading h1,
.project-heading h1 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 3rem;
  font-weight: 400;
}

.about-me-heading h1:before,
.project-heading h1:before {
  content: "01.";
  display: block;
  color: var(--primary-main-color);
  margin-right: 1rem;
  font-size: 2.5rem;
}

.about-me-heading h1:after,
.project-heading h1:after {
  content: "";
  display: block;
  position: relative;
  width: 300px;
  height: 0.5px;
  margin-left: 20px;
  background-color: var(--primary-sec-color);
  opacity: 0.3;
}

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes sideDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes sideDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes sideUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes sideUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes moveRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-5rem);
            transform: translateX(-5rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-5rem);
            transform: translateX(-5rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes moveRightLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(5rem);
            transform: translateX(5rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveRightLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(5rem);
            transform: translateX(5rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes moveRightJump {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  60% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveRightJump {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  60% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes moveLeftJump {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  60% {
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveLeftJump {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  60% {
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes shadow-pop-tr {
  0% {
    -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
    box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
    -webkit-transform: translateX(-8px) translateY(8px);
    transform: translateX(-8px) translateY(8px);
  }
}

@keyframes shadow-pop-tr {
  0% {
    -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
    box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
    -webkit-transform: translateX(-8px) translateY(8px);
    transform: translateX(-8px) translateY(8px);
  }
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 76%;
}

@media (max-width: 75em) {
  html {
    font-size: 73%;
  }
}

@media (max-width: 56.25em) {
  html {
    font-size: 65%;
  }
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: var(--primary-sec-color);
  background: var(--main-bg-color);
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.bold {
  font-family: "Raleway", sans-serif;
  text-align: center;
  color: var(--important-color);
}

.bold-imp {
  font-weight: 700;
  -webkit-animation: opacity backwards;
          animation: opacity backwards;
}

.opacity-zero {
  opacity: 0;
}

.display-none {
  display: none;
}

.primary-button {
  -webkit-animation: sideUp 1s 1.5s backwards;
          animation: sideUp 1s 1.5s backwards;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.primary-button a:link,
.primary-button a:visited {
  color: var(--primary-sec-color);
  border: 3px solid var(--primary-sec-color);
  padding: 0.5em 1em;
  font-size: 2.3em;
  -webkit-transition: var(--basic-transition);
  transition: var(--basic-transition);
}

.primary-button a:link:hover, .primary-button a:link:active,
.primary-button a:visited:hover,
.primary-button a:visited:active {
  background-color: var(--primary-main-color);
  border: 3px solid var(--primary-main-color);
  color: var(--white);
}

.project-heading {
  margin-right: auto;
}

.project-heading h1 {
  font-size: 2.5rem;
}

.about-me-heading h1 {
  font-size: 3rem;
}

.navbar {
  position: fixed;
  right: 2%;
  top: 2.6em;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  z-index: 1;
  -webkit-animation: moveRightLeft 1s ease-in-out 1.5s backwards;
          animation: moveRightLeft 1s ease-in-out 1.5s backwards;
}

@media (max-width: 37.5em) {
  .navbar {
    right: 1rem;
    top: 1.87em;
  }
}

.navbar__burger {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.navbar__burger .line {
  width: 2.5em;
  height: 0.43em;
  margin: 0.5em;
  background-color: var(--primary-main-color);
}

.social-iconss {
  left: 2%;
  -webkit-animation: moveRight 1s ease-in-out 1.7s backwards;
          animation: moveRight 1s ease-in-out 1.7s backwards;
}

.social-iconss__logo {
  padding: 1rem 0;
}

.social-iconss__logo__link {
  display: inline-block;
  color: var(--primary-sec-color);
  cursor: pointer;
  -webkit-transition: var(--basic-transition);
  transition: var(--basic-transition);
}

.social-iconss__logo__link:hover {
  color: var(--primary-main-color);
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
}

.social-iconss__logo__link svg {
  width: 2rem;
}

.email-info {
  right: 2%;
  -webkit-animation: moveRightLeft 1s ease-in-out 1.5s backwards;
          animation: moveRightLeft 1s ease-in-out 1.5s backwards;
}

.email-info a {
  color: var(--primary-sec-color);
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  letter-spacing: 3px;
  font-size: 1.2rem;
  font-weight: lighter;
  -webkit-transition: var(--basic-transition);
  transition: var(--basic-transition);
  padding-bottom: 1rem;
}

.email-info a:hover {
  color: var(--primary-main-color);
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
}

@media (max-width: 800px) {
  .social-iconss,
  .email-info {
    display: none;
  }
}

.top-img {
  top: 13%;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  right: 2%;
  position: fixed;
  -webkit-animation: moveRightLeft 1s ease-in-out 1.5s backwards;
          animation: moveRightLeft 1s ease-in-out 1.5s backwards;
}

@media (max-width: 56.25em) {
  .top-img {
    display: none;
  }
}

.top-img img {
  margin: 2rem 0;
  opacity: 0.5;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

@media (max-width: 37.5em) {
  .top-img img {
    margin: 0 2rem;
  }
}

.top-img img:hover {
  opacity: 1;
}

.header {
  color: var(--white);
  height: 100vh;
  position: relative;
  font-size: 80%;
}

@media (max-width: 37.5em) {
  .header {
    font-size: 65%;
  }
}

.header__logo {
  position: absolute;
  top: 4em;
  left: 4em;
  width: 20em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 37.5em) {
  .header__logo {
    left: 2em;
  }
}

.header__logo__primary {
  width: 100%;
  -webkit-animation: moveRight 1s ease-in-out;
          animation: moveRight 1s ease-in-out;
}

.header__logo__sub {
  width: 8em;
  -webkit-animation: spin 2s ease-in-out 1;
          animation: spin 2s ease-in-out 1;
  position: absolute;
  -webkit-transform: rotate(-50%);
          transform: rotate(-50%);
  top: -2em;
  right: -8em;
  overflow-x: hidden;
}

.text-box {
  position: absolute;
  top: 32%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  text-align: center;
  width: 100%;
}

.text-box__heading {
  margin-bottom: 3em;
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.text-box__heading__primary {
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  font-size: 3em;
  display: block;
  line-height: 1.4;
  font-weight: 700;
  color: var(--important-color);
}

.text-box__heading__primary span {
  font-weight: 400;
  -webkit-animation: sideDown 0.7s ease-out backwards;
          animation: sideDown 0.7s ease-out backwards;
  display: inline-block;
}

.text-box__heading__primary .available-color {
  color: var(--primary-main-color);
}

.about-me {
  font-family: sans-serif;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.2rem;
  margin: 10rem 0;
}

.about-me__container {
  width: 60%;
}

@media (max-width: 75em) {
  .about-me__container {
    width: 80%;
  }
}

@media (max-width: 56.25em) {
  .about-me__container {
    width: 85%;
  }
}

@media (max-width: 37.5em) {
  .about-me__container {
    width: 90%;
  }
}

.about-me__container__work {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
  margin-bottom: 10rem;
  text-align: center;
  margin: 5rem 0 3rem 0;
}

@media (max-width: 56.25em) {
  .about-me__container__work {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    row-gap: 2.5rem;
  }
}

@media (max-width: 37.5em) {
  .about-me__container__work {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.about-me__container__work .work-row {
  padding: 2rem;
}

.about-me__container__work .work-row h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  position: relative;
}

.about-me__container__work .work-row span {
  font-size: 1.3rem;
}

.about-me__container__work .work-row .mdi {
  color: var(--primary-main-color);
  width: 100%;
  font-size: 7rem;
  margin-bottom: 1rem;
  -webkit-animation: sideUp backwards;
          animation: sideUp backwards;
}

.about-visual {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 75em) {
  .about-visual {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.about-visual__intro-image {
  -webkit-transform: rotate(30%);
          transform: rotate(30%);
  width: 22rem;
  position: relative;
  border-radius: 1rem;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-animation: moveRightLeft backwards;
          animation: moveRightLeft backwards;
}

.about-visual__intro-image::after {
  content: "";
  border: 2px solid var(--primary-main-color);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 6%;
  top: 6%;
  border-radius: 0.5rem;
  z-index: -1;
}

.about-visual__intro-image img {
  width: 100%;
  border-radius: 0.5rem;
}

.about-visual__intro {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 75em) {
  .about-visual__intro {
    margin-bottom: 5rem;
    width: 100%;
  }
}

@media (max-width: 56.25em) {
  .about-visual__intro {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.about-visual__intro .col1 {
  width: 60%;
  margin: 0 3rem 4rem 0;
  -webkit-animation: moveRight backwards;
          animation: moveRight backwards;
}

@media (max-width: 56.25em) {
  .about-visual__intro .col1 {
    width: 100%;
    margin: 3rem 0;
  }
}

.about-visual__intro .col1 h2 {
  font-size: 2rem;
  padding: 1rem 0 0.5rem 0;
}

.about-visual__intro .col1 p {
  font-size: 1.4rem;
}

.about-visual .skills {
  margin-top: 1.5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  row-gap: 0.3rem;
  font-size: 1.2rem;
  position: relative;
}

.about-visual .skills__skill:before {
  content: "≽";
  margin-right: 1rem;
  font-size: 1rem;
  color: var(--primary-main-color);
}

.projects {
  border: 2px solid red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20rem;
}

.projects__container {
  border: 2px solid yellow;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.projects__container__project-boxes {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem 1rem;
}

.projects__container__project-boxes .project {
  border: 2px solid red;
  width: 10rem;
  height: 10rem;
}
/*# sourceMappingURL=main.css.map */