.about-me-heading h1,
.project-heading h1 {
  @extend %number-heading-main;

  &:before {
    @extend %number-heading-before;
  }
  &:after {
    @extend %number-heading-after;
  }
}

.project-heading {
  margin-right: auto;
  h1 {
    font-size: 2.5rem;
  }
}

.about-me-heading {
  h1 {
    font-size: 3rem;
  }
}