[class^="heading-"] {
  max-width: $grid-width;
  width: 100%;
  font-size: 2.5rem;
  @include respond(tab-land) {
    width: 85% !important;
  }
  @include respond(phhone) {
    width: 95% !important;
  }
}

.heading-project {
  h1 {
    &:before {
      @extend %project-heading-before;
      @extend %number-heading-before;
    }
  }
}

.heading-youtube{
  h1 {
    &:before {
      @extend %youtube-heading-before;
      @extend %number-heading-before;
    }
  }
}
.heading-contact{
  h1 {
    &:before {
      @extend %contact-heading-before;
      @extend %number-heading-before;
    }
  }
}

.top-heading h1,
.top-heading h1 {
  margin-right: auto;

  @extend %number-heading-main;

  &:after {
    @extend %number-heading-after;
  }
}

.heading-about-me {
  h1 {
    font-size: 3rem;
    &:before {
      @extend %aboutMe-heading-before;
      @extend %number-heading-before;
    }
  }
}
