.navbar {
  position: fixed;
  right: 2%;
  top: 2.6em;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  z-index: 1;
  animation: moveRightLeft 1s ease-in-out 1.5s backwards;
  @include respond(phone) {
    right: 1rem;
    top: 1.87em;
  }

  &__burger {
    align-items: center;
    cursor: pointer;

    .line {
      width: 2.5em;
      height: 0.43em;
      margin: 0.5em;
      background-color: var(--primary-main-color);
    }
  }
}
