.social-iconss {
  left: 2%;
  animation: moveRight 1s ease-in-out 1.7s backwards;
  @extend %page-corner-main;

  &__logo {
    padding: 1rem 0;
    &__link {
      display: inline-block;
      color: var(--primary-sec-color);
      cursor: pointer;
      transition: var(--basic-transition);
      &:hover {
        color: var(--primary-main-color);
        transform: translateY(-1rem);
      }
      svg {
        width: 2rem;
      }
    }
  }
  &:after {
    @extend %page-corner-after;
  }
}

.email-info {
  right: 2%;
  animation: moveRightLeft 1s ease-in-out 1.5s backwards;
  @extend %page-corner-main;
  a {
    color: var(--primary-sec-color);
    writing-mode: vertical-rl;
    letter-spacing: 3px;
    font-size: 1.2rem;
    font-weight: lighter;
    transition: var(--basic-transition);
    padding-bottom: 1rem;
    &:hover {
      color: var(--primary-main-color);
      transform: translateY(-1rem);
    }
  }
  &:after {
    @extend %page-corner-after;
  }
}

@media (max-width: 800px) {
  .social-iconss,
  .email-info {
    display: none;
  }
}
