
.bold {
  font-family: "Raleway", sans-serif;
  text-align: center;
  color: var(--important-color);
}

.bold-imp {
  font-weight: 700;
}

.opacity-zero{
  opacity: 0;
}

.display-none{
  display: none;
}