.opacity-zero {
  opacity: 0;
}

.u-center-text {
  text-align: center !important;
}
.u-right-text {
  text-align: right !important;
}

.u-margin-bottom-big {
  margin-bottom: 10rem !important;
}
.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}
.u-margin-bottom-small {
  margin-bottom: 2rem !important;
}
.u-margin-bottom-verysmall {
  margin-bottom: 1rem !important;
}

.hidden {
  display: none !important;
}

.u-position-absolute {
  position: absolute !important;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1px);
  z-index: 5;
  transition: display 1s ease-in-out;
}
.overlay-minor {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(1px);
  z-index: 5;
  transition: display 1s ease-in-out;
}
