:root {
  --white: #fff;
  --main-bg-color: #0c1c27;
  --primary-main-color: #32c7cf;
  --primary-sec-color: #9cc8e5;
  --important-color: #abdbf8;
  --basic-transition: 0.3s ease-in-out;
  --secondary-bg-color:  #132d3e;
}



// GRID

$grid-width:90rem;
$gutter-vertical:6.5rem;
$gutter-horizontal:5rem;

