

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes sideUp {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveRight {
    0% {
    opacity: 0;
    transform: translateX(-5rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveRightJump {
    0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  60%{
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveLeftJump {
    0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  60%{
    transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}



@keyframes skillWidth100{
  0%{
    opacity: 0;
      width: 0%;
  }
  100%{
    opacity: 1;
      width: 100%;
  }
}
@keyframes skillWidth90{
  0%{
      width: 0%;
  }
  100%{
      width: 90%;
  }
}
@keyframes skillWidth80{
  0%{
      width: 0%;
  }
  100%{
      width: 80%;
  }
}
@keyframes skillWidth70{
  0%{
      width: 0%;
  }
  100%{
      width: 70%;
  }
}
@keyframes skillWidth65{
  0%{
      width: 0%;
  }
  100%{
      width: 65%;
  }
}
@keyframes skillWidth60{
  0%{
      width: 0%;
  }
  100%{
      width: 60%;
  }
}
@keyframes skillWidth55{
  0%{
      width: 0%;
  }
  100%{
      width: 55%;
  }
}
@keyframes skillWidth50{
  0%{
    opacity: 0;
      width: 0%;
  }
  100%{
    opacity: 1;
      width: 50%;
  }
}
