

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes sideUp {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveRight {
    0% {
    opacity: 0;
    transform: translateX(-5rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveRightJump {
    0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  60%{
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveLeftJump {
    0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  60%{
    transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}