:root {
  /* colors */
  --main-bg-color: #0c1c27;
  --primary-main-color: #32c7cf;
  --primary-sec-color: #9cc8e5;
  --important-color: #abdbf8;

  /* transitions */
  --basic-transition: 0.3s ease-in-out;
}

html {
  font-size: 76%;
}

/* height */
@media (max-height: 2000px) {
  html {
    font-size: 100%;
  }
}
@media (max-height: 1000px) {
  html {
    font-size: 75%;
  }
}

.bold {
  font-family: "Raleway", sans-serif;
  text-align: center;
  color: var(--important-color);
}

.bold-imp {
  font-weight: 700;
}

body {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: var(--primary-sec-color);
  background: var(--main-bg-color);
  position: relative;
}

header {
  color: #fff;
  height: 100vh;
  position: relative;
  font-size: 80%;
}

@media (max-width: 1000px) {
  .header {
    font-size: 80%;
  }
}


.logo-box {
  position: absolute;
  top: 4em;
  left: 4em;
  width: 20em;
  display: flex;
}

.logo-primary {
  width: 100%;
  animation: moveRight 1s ease-in-out;
}

.logo-sub {
  width: 8em;
  animation: spin 2s ease-in-out 1;
  position: absolute;
  transform: rotate(-50%);
  top: -2em;
  right: -8em;
  overflow-x: hidden;
}

.navbar {
  position: fixed;
  right: 2.5em;
  top: 2em;
  width: 5em;
  height: 5em;
  border-radius: 50%;
  background-color: var(--primary-main-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 600px) {
  .navbar {
    width: 3em;
    height: 3em;
  }
}
.burger {
  align-items: center;
}
.navbar .burger .line {
  width: 2.5em;
  height: 0.3em;
  margin: 0.5em;
  background: var(--main-bg-color);
}

.text-box {
  position: absolute;
  top: 32%;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  width: 100%;
}

.header-heading-main {
  margin-bottom: 3em;
}

.header-heading-main {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
  backface-visibility: hidden;
}

.header-heading-primary {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  font-size: 3em;
  display: block;
  line-height: 1.4;
  font-weight: 700;
  color: var(--important-color);
}

.header-heading-primary span {
  animation: opacity 1.5s ease-out;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
  font-weight: 400;
  animation: opacity 2s ease-out;
  animation-fill-mode: backwards;
  height: 10rem;
}

.header-heading-primary .available-color {
  color: var(--primary-main-color);
}

.header-heading-sub {
  font-weight: 400;
  font-size: 1.5em;
  display: block;
  letter-spacing: 0.11em;
  animation: opacity 1s ease-out;
  animation-delay: 1.4s;
  animation-fill-mode: backwards;
  color: var(--important-color);
}

.primary-button {
  animation: sideUp 1s;
  animation-delay: 1.5s;
  animation-fill-mode: backwards;
  transition: 0.3s ease-out;
}

.primary-button a:link,
.primary-button a:visited {
  color: #fff;
  border: 3px solid #fff;
  padding: 0.5em 1em;
  font-size: 2.3em;
  transition: var(--basic-transition);
}
.primary-button a .iconify {
  vertical-align: middle;
  transform: rotate(90deg);
}
.primary-button a:hover,
.primary-button a:active {
  background-color: var(--primary-main-color);
  border: 3px solid var(--primary-main-color);
}


@media (max-width: 700px) {
  html {
    font-size: 70%;
  }
}

/* Page corner */
.social-iconss {
  left: 2%;
}
.email-info {
  right: 2%;
}
.email-info,
.social-iconss {
  position: fixed;
  color: var(--primary-sec-color);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  z-index: 1;
}

.social-iconss:after,
.email-info:after {
  content: "";
  display: block;
  width: 0.15rem;
  height: 100px;
  background-color: var(--primary-sec-color);
  opacity: 0.3;
  margin-top: 1rem;
}
ul .logo {
  padding: 1rem 0;
}

ul .logo a {
  color: var(--primary-sec-color);
  cursor: pointer;
  transition: var(--basic-transition);
}
ul .logo a svg {
  width: 2rem;
}

ul .logo a:hover,
.email-info a:hover {
  color: var(--primary-main-color);
}

.email-info a {
  color: var(--primary-sec-color);
  writing-mode: vertical-rl;
  letter-spacing: 3px;
  font-size: 1.2rem;
  font-weight: lighter;
  transition: var(--basic-transition);
  padding-bottom: 1rem;
}

@media (max-width: 800px) {
  .social-iconss,
  .email-info{
    display: none;
  }
}


/* ABOUTME */
.about-me {
  margin: 10rem 0;
}

.numbered-heading {
  align-self: flex-start;
}

.numbered-heading h1 {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 3rem;
  font-weight: 400;
}
.numbered-heading h1::before {
  content: "01.";
  display: block;
  color: var(--primary-main-color);
  margin-right: 1rem;
  font-size: 2.5rem;
}

.numbered-heading h1::after {
  content: "";
  display: block;
  position: relative;
  width: 300px;
  height: 0.5px;
  margin-left: 20px;
  background-color: var(--primary-sec-color);
  opacity: 0.3;
}

@media (max-width: 1100px) {
  .about-me {
    margin-top: 45rem;
  }
}
@media (max-width: 550px) {
  .about-me {
    margin-top: 60rem;
  }
}
@media (max-width: 500px) {
  .about-me {
    margin-top: 70rem;
  }
}
@media (max-width: 300px) {
  .about-me {
    margin-top: 75rem;
  }
}

.about-me-work {
  margin-bottom: 10rem;
}

.about-me {
  font-family: sans-serif;
  font-weight: 400;
  height: 70vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
}

.about-me-container {
  width: 60%;
}
@media (max-width: 1400px) {
  .about-me-container {
    width: 80%;
  }
}
@media (max-width: 1200px) {
  .about-me-container {
    width: 85%;
  }
}
@media (max-width: 800px) {
  .about-me-container {
    width: 90%;
  }
}

/* Work i can do */
.about-me-work {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 1rem;
  text-align: center;
  margin: 5rem 0 3rem 0;
}
@media (max-width: 1000px) {
  .about-me-work {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2.5rem;
  }
}
@media (max-width: 550px) {
  .about-me-work {
    display: grid;
    grid-template-columns: 1fr;
  }
}
.work-row {
  padding: 2rem;
}
.work-row h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  position: relative;
}

.work-row span {
  font-size: 1.3rem;
}

.mdi {
  color: var(--primary-main-color);
  width: 100%;
  font-size: 7rem;
  margin-bottom: 1rem;
}
/* Intro and skills Parent */
.about-visual {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1100px) {
  .about-visual {
    flex-direction: column;
  }
}

/* Introduction */
.about-me-intro {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1100px) {
  .about-me-intro {
    margin-bottom: 5rem;
  }
}
@media (max-width: 1100px) {
  .about-me-intro {
    width: 100%;
  }
}

.intro-image {
  transform: rotate(30%);
  width: 22rem;
  position: relative;
  border-radius: 1rem;
}
.intro-image::after {
  content: "";
  border: 2px solid var(--primary-main-color);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 6%;
  top: 6%;
  border-radius: 0.5rem;
  z-index: -1;
}
.intro-image img {
  width: 100%;
  border-radius: 0.5rem;
}
.about-me-intro {
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
}
@media (max-width: 1000px) {
  .about-me-intro {
    flex-direction: column;
  }
}

.about-me-intro .col1 {
  width: 60%;
  margin: 0 3rem 4rem 0;
}

@media (max-width: 1000px) {
  .about-me-intro .col1 {
    width: 100%;
    margin: 3rem 0;
  }
  .about-me-intro .col2 {
    align-self: center;
  }
}

.about-me-intro h2 {
  font-size: 2rem;
  padding: 1rem 0 0.5rem 0;
}
.about-me-intro p {
  font-size: 1.4rem;
  -webkit-font-smoothing: antialiased;
}

.skills {
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 0.3rem;
  font-size: 1.2rem;
  position: relative;
}

.skills .skill:before {
  content: "≽";
  margin-right: 1rem;
  font-size: 1rem;
  color: var(--primary-main-color);
}
