.about-me {
  font-family: sans-serif;
  font-weight: 400;
  @include flex-placeholder(center, center);
  flex-direction: column;
  font-size: 1.2rem;
  margin: 10rem 0;

  &__container {
    width: 60%;

    @include respond(tab-land) {
      width: 80%;
    }
    @include respond(tab-port) {
      width: 85%;
    }
    @include respond(phone) {
      width: 90%;
    }

    &__work {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      column-gap: 1rem;
      margin-bottom: 10rem;
      text-align: center;
      margin: 5rem 0 3rem 0;

      @include respond(tab-port) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 2.5rem;
      }

      @include respond(phone) {
        display: grid;
        grid-template-columns: 1fr;
      }

      .work-row {
        padding: 2rem;
      
        h2 {
          font-size: 2rem;
          margin-bottom: 0.5rem;
          position: relative;
        }

        span {
          font-size: 1.3rem;
        }

        .mdi {
          color: var(--primary-main-color);
          width: 100%;
          font-size: 7rem;
          margin-bottom: 1rem;

        }
      }
    }
  }
}

.about-visual {
  @include flex-placeholder(center, center);

  @include respond(tab-land) {
    flex-direction: column;
  }

  &__intro-image {
    transform: rotate(30%);
    width: 22rem;
    position: relative;
    border-radius: 1rem;
    align-self: center;


    &::after {
      content: "";
      border: 2px solid var(--primary-main-color);
      width: 100%;
      height: 100%;
      position: absolute;
      left: 6%;
      top: 6%;
      border-radius: 0.5rem;
      z-index: -1;
    }

    img {
      width: 100%;
      border-radius: 0.5rem;
    }
  }

  &__intro {
    width: 100%;
    @include flex-placeholder(flex-start, flex-start);

    @include respond(tab-land) {
      margin-bottom: 5rem;
      width: 100%;
    }

    @include respond(tab-port) {
      flex-direction: column;
    }
    .col1 {
      width: 60%;
      margin: 0 3rem 4rem 0;
    
      @include respond(tab-port) {
        width: 100%;
        margin: 3rem 0;
      }

      h2 {
        font-size: 2rem;
        padding: 1rem 0 0.5rem 0;
      }

      p {
        font-size: 1.4rem;
      }
    }
  }
  .skills {
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 0.3rem;
    font-size: 1.2rem;
    position: relative;

    &__skill:before {
      content: "≽";
      margin-right: 1rem;
      font-size: 1rem;
      color: var(--primary-main-color);
    }
  }
}
