.contact-container {
  @include flex-placeholder(center, _);
  flex-direction: column;
  &--para {
    padding: 0 16%;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    opacity: 0.8;
    line-height: 1.4;
    @include respond(phone) {
       padding: 0 2%;
    }
  }
}
