.yt-container {
  @include flex-placeholder(center, center);
  flex-direction: column;
  .iframe-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 7rem;
    column-gap: 2rem;
    text-align: center;

    @include respond(tab-port) {
      grid-template-columns: 1fr 1fr;
    }
    @include respond(phone) {
      grid-template-columns: 1fr;
    }

    .box {
      transition: 0.3s ease-in-out;
      background-color: var(--secondary-bg-color);
      color: var(--primary-sec-color);
      padding: 2rem 0.5rem 0.5rem 0.5rem;
      &-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        padding-top: 2rem;
      }

      &-title {
        font-size: 2rem;
        font-weight: bold;
        letter-spacing: -1px;
        line-height: 1;
        text-align: center;
        height: 5rem;
      }
      &-player {
        position: relative;
        height: 100%;
        width: 100%;

        iframe {
          padding-top: 2rem;
        }
        &-play--btn {
          width: 90px;
          height: 60px;
          background-color: #333;
          z-index: 1;
          opacity: 0.8;
          border-radius: 6px;
          position: absolute;
          @include position-center;
          cursor: pointer;
          &:before {
            position: absolute;
            content: "";
            border-style: solid;
            border-width: 15px 0 15px 26px;
            border-color: transparent transparent transparent #fff;
            @include position-center;
          }
        }
      }
    }
  }

  .btns {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;
    line-height: 6rem;
  }
}
